<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mitail.weixin.mapper.ActAccessLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mitail.weixin.entity.ActAccessLog">
        <id column="id" property="id" />
        <result column="date" property="date" />
        <result column="initId" property="initId" />
        <result column="ip" property="ip" />
        <result column="pid" property="pid" />
        <result column="session_id" property="sessionId" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="open_id" property="openId" />
    </resultMap>

</mapper>
