<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mitail.weixin.mapper.ActScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mitail.weixin.entity.ActScore">
        <id column="id" property="id" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
        <result column="ip" property="ip" />
        <result column="score" property="score" />
        <result column="time" property="time" />
        <result column="open_id" property="openId" />
        <result column="code" property="code" />
        <result column="init_code" property="initCode" />
        <result column="session_code" property="sessionCode" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
