<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mitail.weixin.mapper.MembersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mitail.weixin.entity.Members">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="pwd" property="pwd" />
        <result column="login_date" property="loginDate" />
    </resultMap>

</mapper>
